@charset "utf-8";
#menubar {
	margin:7px 7px;
	padding:0;
	background:#666;
	width:960px;
	margin-left:60px;
	border-radius: 6px;
	border:1px solid #FFF;
}
.clearboth{
	clear:both;
	margin:0;
	padding:0;
	}
#menubar ul{
	margin:0;
	padding:0;
}
#menubar li{
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	position:relative;
	background:#666;
}
#menubar ul li a{
	text-align:center;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-decoration:none;
	height:30px;
	width:150px;
	display:block;
	color:#FFF;
	border:1px solid #FFF;
	text-shadow:1px 1px 1px #000;
	line-height:30px;
	}
#menubar ul ul{
	position:absolute;
	visibility:hidden;
	top:32px;
	}
#menubar ul li:hover ul{
	visibility:visible;
	}
#menubar li:hover{
	background:#333;
	}
#menubar ul li:hover ul li a:hover{
	background:#0F0;
	}
#menubar a:hover{
	color:#000;
	}
