@charset "utf-8";
/* CSS Document */


#main {
    background-image: url("../images/paper.jpg");
    border-radius: 60px;
    height: 360px;
    margin: auto;
    padding-top: 1px;
    max-width: 360px;
	width:100%;
}
form {
    width:100%;
	max-width:200px;
	margin:0 auto;
	padding-top: 110px;
}
#field {
    border: 0 none;
    border-radius: 6px;
    height: 31px;
	width:100%;
	box-shadow: 0 4px 2px #ff6600;
}
#button {
    color: #b22400;
    height: 28px;
    margin: 30px 0 0 115px;
    width: 86px;
}
span{
	font-size: 20px;
	}