@charset "utf-8";
/* CSS Document */
.main{
	width:1080px;
	height:1280px;
	margin:auto;
	background:url(../images/main.jpg);
	padding-top:20px;
}
.header{
	width:960px;
	height:250px;
	background:url(../images/header.jpg);
	margin:auto;
	border-radius:19px;
	overflow:visible;
	padding-top:2px;
}
#fb{
	width: 55px;
    height: 55px;
    border-radius: 55px;
    margin-top: 189px;
    margin-left: 852px;
	border-radius: 200px;
	-webkit-animation-name: seven1;
    -webkit-animation-duration: 1s;
   -webkit-animation-iteration-count: 1;
   -webkit-animation-direction: normal;
    -webkit-animation-timing-function:linear;
    -webkit-animation-fill-mode: both;
    -webkit-animation-delay: 1s;
	
	animation-name: seven1;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function:linear;
    animation-fill-mode: both;
    animation-delay: 1s;
	}
#fba,#tw,#gp{
	opacity:0.6;
	}
#fba:hover,#tw:hover,#gp:hover{
	opacity:1;
	}
#twitter{
	width: 55px;
    height: 55px;
    border-radius: 55px;
    margin-top: -130px;
    margin-left: 852px;
	border-radius: 200px;
	-webkit-animation-name: seven2;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function:linear;
    -webkit-animation-fill-mode: both;
    -webkit-animation-delay: 2s;
	
	animation-name: seven2;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function:linear;
    animation-fill-mode: both;
    animation-delay: 2s;
	}
#google{
	width: 55px;
    height: 55px;
    border-radius: 55px;
    margin-top: -130px;
    margin-left: 852px;
	border-radius: 200px;
	-webkit-animation-name: seven3;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function:linear;
    -webkit-animation-fill-mode: both;
   -webkit-animation-delay: 3s;
	
	animation-name: seven3;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function:linear;
    animation-fill-mode: both;
    animation-delay: 3s;
	}
@-webkit-keyframes seven1 {
   0%   {-webkit-transform:translateY(-200px)rotate(0deg); opacity:0;}
    100% {-webkit-transform:translateY(0px)rotate(180deg); opacity:1}
}
@keyframes seven1 {
   0%   {transform:translateY(-200px)rotate(0deg); opacity:0;}
    100% {transform:translateY(0px)rotate(180deg); opacity:1}
}
@-webkit-keyframes seven2 {
   0%   {-webkit-transform:translateY(-200px)rotate(0deg); opacity:0;}
    100% {-webkit-transform:translateY(0px)rotate(180deg); opacity:1}
}
@keyframes seven2 {
   0%   {transform:translateY(-200px)rotate(0deg); opacity:0;}
    100% {transform:translateY(0px)rotate(180deg); opacity:1}
}
@-webkit-keyframes seven3 {
   0%   {-webkit-transform:translateY(-200px)rotate(0deg); opacity:0;}
    100% {-webkit-transform:translateY(0px)rotate(180deg); opacity:1}
}
@keyframes seven3 {
   0%   {transform:translateY(-200px)rotate(0deg); opacity:0;}
    100% {transform:translateY(0px)rotate(180deg); opacity:1}
}
  .content{
	width:665px;
	height:874px;
	margin-left:60px;
	margin-top:18px;
	border-radius:19px;
	background:url(../images/contentback.jpg);
	float:left;

}
.login{
	    width: 278px;
        height: 213px;
        margin-left: 744px;
        margin-top:25px;
        border-radius: 19px;
        background:url(../images/loginback.jpg);
}
.search{
	    width: 278px;
        height: 641px;
        margin-left: 744px;
        margin-top: 20px;
        border-radius: 19px;
        background:url(../images/searchback.jpg);
}

.footer {
	   width: 960px;
       height: 72px;
       border-radius: 6px;
       background-color: #F00;
       margin: auto;
       margin-top: 3px;
	   background:url(../images/footer.jpg);
	   text-align:center;
	   line-height:70px;
}
.loginbutton {
	width: 96px; 
	height: 23px; 
	margin: 10px 10px 10px 115px;
	color:green;
	background: linear-gradient(to bottom right, grey , white);
}
.signup{
	margin-top: 22px;
    margin-left: 26px;
}
.signup b, .signup button {
	display: inline-block;
	}
#signupbutton {
	width: 96px; 
	height: 23px; 
	margin: 0 0 0 8px;
	color:green;
	background:#9EFF3E;
}
#popupSignup{
	position:absolute;
    left:50%;
    top:17%;
    margin-left:-202px;
    font-family:'Raleway',sans-serif;
	
	}
#form{
	width: 327px;
    height: 245px;
    padding: 10px 50px;
    border: 2px solid #808080;
    border-radius: 10px;
    font-family: raleway;
    background: linear-gradient(-20deg, yellow, #FFC);
	
	}
#fname{
	width: 155px;
    height: 20px;
	}
#lname{
	width: 155px;
    height: 20px;
	}
#password{
	width: 155px;
    height: 20px;
	margin-top: 18px;
	}
#cpassword{
	width: 155px;
    height: 20px;
	
	}
#email{
	width: 320px;
    height: 20px;
	margin-top: 18px;
	}
.signbutton {
    width: 75px;
    margin-left: 252px;
    height: 30px;
    border-radius: 8px;
    font-family: "Arial Black",Gadget,sans-serif;
    background-color: #F00;
    margin-top: 33px;
}
#abc {
    width:100%;
    height:100%;
    opacity:.95;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color:#313131;
    overflow:auto
}
img#close {
    position:absolute;
    width:30px;
	height:30px;
    cursor:pointer;
	right:-14px;
    top:-14px;
	border-radius:5px;
}
h2{
	color:green;
	}
#home{
	float:left;
	}
#gallery{
	float:left;
	}
#aboutus{
	float:left;
	}
#contactus{
	float:left;
	}

